<h1>Log In</h1>
<%= form_for "sign_in" do |f| %>
  <div class="f-label"><%= label_tag :first_name%></div>
    <div class="f-field"><%= text_field_tag :first_name %><div>
    <div class="f-label"><%= label_tag :password%><div>
    <div class="f-field"><%= password_field_tag :password %><div>
    <%= submit_tag "Log In" %>

<% end %>








